<h1>Editing strelki</h1>

<% form_for(@strelki) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :place %><br />
    <%= f.text_field :place %>
  </p>
  <p>
    <%= f.label :event %><br />
    <%= f.text_field :event %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @strelki %> |
<%= link_to 'Back', strelkis_path %>