<h1>
	My Personal homepage
</h1>
<p class="email">
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p class="last_login">
  <b>Last login at:</b>
  <%=h @user.last_login_at %>
</p>

<p class="current_login">
  <b>Current login at:</b>
  <%=h @user.current_login_at %>
</p>

<p class="last_login_ip">
  <b>Last login ip:</b>
  <%=h @user.last_login_ip %>
</p>

<p class="current_login_ip">
  <b>Current login ip:</b>
  <%=h @user.current_login_ip %>
</p>