<p>
  <b>Federal:</b>
  <%=h @telefon_federal.federal %>
</p>

<p>
  <b>City:</b>
  <%=h @telefon_federal.city %>
</p>

<p>
  <b>Operator:</b>
  <%=h @telefon_federal.operator %>
</p>


<%= link_to 'Edit', edit_telefon_federal_path(@telefon_federal) %> |
<%= link_to 'Back', telefon_federals_path %>