!!!
%html
  %head
    %meta{ :charset => "utf-8" }
    %title Афишатор
    %meta{'http-equiv'=>"Content-Language", :content=>"en-us"}/
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      %header
        %h1 Афишатор v0.1
      %section
        = yield
      %aside
        Response:
        = @response.inspect
        P.S. Русский стемминг в solr пока не настроен
      %footer
        %a{href:'http://github.com/dapi'}dapi
        &amp;
        yur
