%h2 Забыли пароль?

= semantic_form_for resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }  do |form|
  //= error_messages_for 'debt', :object=>@debt
  // = form.error_messages
  = devise_error_messages!
  = form.inputs  do
    = form.input :email, :required=>true,  :input_html => {:tabindex=>0, :class=>'autofocus'}
  = form.buttons do
    = form.commit_button :label=>"Восстановить пароль", :button_html => { :id=>'reset_password' } # А то cucumber путает с логином
