<p>
  <b>Prefix:</b>
  <%=h @telefon_rename.prefix %>
</p>

<p>
  <b>Old:</b>
  <%=h @telefon_rename.old %>
</p>

<p>
  <b>New:</b>
  <%=h @telefon_rename.new %>
</p>


<%= link_to 'Edit', edit_telefon_rename_path(@telefon_rename) %> |
<%= link_to 'Back', telefon_renames_path %>