
<div class="links2">
<ul class="inline">
<li><%= link_menu "афиша", {:controller=>"home"} %></li>
<li><%= link_menu "стрелки", {:controller=>"strelki"} %></li>
<li><%= link_menu "обсуждение", {:controller=>"talks"} %></li>

</ul>
</div>


<div class="links" style="padding-top: 0.9em;">
<ul class="inline">
<li><%= link_menu "репортажи", {:controller=>"reports"} %></li>
<li><%= link_menu "места<span> (рейтинг и обзоры)</span>", {:controller=>"places"} %></li>
<li><%= link_menu "анонсы на sms", {:controller=>"anounces"} %></li>
</ul>
</div>
