
<div id="login_form">

<% if session[:twitter] %>
<p>Вы хотите следить за <span class="twitter"><%= session[:twitter] %></span></p>
<% end %>

<% form_tag sessions_path do %>
  <p>
    <%= label_tag :phone, "Номер телефона:", :class => "label" %><br />
    <%= text_field_tag :phone, (params[:phone] || session[:phone]),  :class => "field left_d" %>
		<div class="clear"></div>
    <div class="smal_t">Номер, под которые Вы зарегистрировались. <br/><b>Например</b>: +79128423346</div>
  </p>
  <br/>
  <p>
    <%= label_tag :password, "Код:", :class => "label" %>(<%=  @user.andand.phone_code %>)<br />
    <%= text_field_tag :password, nil, :class => "field left_d" %>
    <div style="display: none"><img src="/images/checked.png" /></div>
    <div class="clear"></div>
    <div class="smal_t">Код, который Вам высылали. Я забыл код, <a href="send_code">выслать</a> его снова.</div>
  </p>
  <div align="right"><button type="submit"><img src="/images/login.gif" alt="Войти"/></button></div>

<% end %>
<br/>
<p class="text_l">
  Ещё не зарегистрированы? о_О <br/>
  <%= link_to "Бегом регистрироваться!", signup_path, :class => "big_link" %>
</p>
</div>



